.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before, .row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4,.col-6, .col-5, .col-8,.col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-4, .col-6, .col-5, .col-8, .col-12 {
  width: 100%;
}



@media only screen and (min-width: 650px) {

  .col-4 {
    width: 33.33333%;
  }

  .col-5 {
    width: 20%;
  }

  .col-6 {
    width: 50%;
  }

  .col-8 {
    width: 66.666666%;
  }

  .col-12 {
    width: 100%;
  }
  .submit-button {
    width: 25%;
  }

}

@media only screen and (max-width: 600px){
    .nav-bar.responsive {
        position: relative;
    }

    .nav-bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }

    .nav-bar.responsive div a {
        float: none;
        display: block;
        text-align: left;
    }

    .nav-bar a:not(:first-child) {
        display: none;
    }

    .nav-bar a.icon {
    float: right;
    display: block;
    }
}
